{% extends "base1.html" %} {% block title %} Change Password {% endblock %}{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head> 
<body style="background-color:bisque"> 
    <form method="POST" autocomplete="off">
    <center>
        <br>
      <div class="containers">
        <center><h1 style="color: rgb(227, 45, 142);"><i><b><u>CHANGE PASSWORD</u></b></i></h1></center><br>
        <center><input type="password" placeholder="New Password" name="Password1" minlength="8" maxlength="8"  required></center>
        <font color="grey"><small>* Password must be of 8 characters long.</font></small><br>
        <center><input type="password" placeholder="Confirm Password" name="Password2" minlength="8" maxlength="8"   required></center>
        <center><button type="submit" class="submittingbutton"><b>SUBMIT</b></button></center>
      </div>
    </center>
</form>
</body>
</html>
    {% endblock %}