{% extends "base.html" %} {% block title %} Forgot Password {% endblock %}{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bg-img">
    <form method="POST" autocomplete="off">
    <center>
      <div class="contain">
        <center><h1 style="color:brown;"><b><u>FORGOT PASSWORD</u></b></h1></center><br>
        <center><input type="text" placeholder="Enter UserID" name="Userid" pattern="[0-9]*" minlength="6" maxlength="7" color:"white" required></center><br>
        <center><button type="submit" class="submitbutton"><b>Submit</b></button></center>
      </div>
    </center>
</form>
</body>
</html>
{% endblock %}