{% extends "base1.html" %} {% block title %} Welcome to home {% endblock %}{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body style="background-color: beige">
    <center> <br><br>
      <center><h1 style="color:brown"><b>WELCOME TO LOST AND FOUND WEBSITE</b></h1></center>
    </div></center>
    <br><br>
    <center>
    <div class="homepage" style="background-color:bisque;  ">
    <p style="margin:50px; padding:10px, 10px; font-size:18px; text-align:justify;"><b>This portal helps you find your lost items. If you have lost any item you are encouraged to check the area 
        where you believe the item was lost. After that ask and check with the security guards, and caretakers 
        in your hostels whether they have safeguarded your lost thing. In the mean time you can come here and 
        report and search for your lost item in cctv videos as well as in found items list.You can report found items 
        and give them to security guards and caretakers thus helping the owners to claim their item quickly by filling the
        acknowledgement form while claiming their item (it will open while updating the status of found object to returned in search found items page)</b></p></div> 
    </center></body>
    <br> <br> <br> <br>
</html>
{% endblock %}